@import "tailwindcss";

.bbh-sans-hegarty-regular {
  font-family: var(--font-bbh-sans-hegarty), sans-serif;
  font-weight: 400;
  font-style: normal;
}

.stack-sans-notch-regular {
  font-family: var(--font-stack-sans-notch), sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #eaeaea;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-theme-background: #183642;
  --color-theme-foreground: #117fab;
  --color-theme-default1: #cbc5ea;
  --color-theme-default2: #73628a;
  --color-theme-default3: #313d5a;
  --color-theme-highlight: #eaeaea;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input::placeholder {
  opacity: 0.5; /* Adjust this value between 0 (fully transparent) and 1 (fully opaque) */
  color: #999; /* Optional: Change the placeholder color as well */
}
